h1.header{
    color: blue;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}
a.header{
    padding-right: 10px;
    font-family: sans-serif;
}
.footer{
    text-align: center;
    font-family: sans-serif;
    font-size: 8pt;
    color: black;
}
@font-face{
    font-family: 'Merriweather', serif;
}
.fontTitle{
    font-family: 'Merriweather';
    font-size: xx-large;
    text-align: center;
    color: #660066;
    font-weight: bold;
}
.contactForm{
    width: 100%;
    margin-left: 30px;
    margin-right: 10px;

}
.reqField{
    font-weight: bold;
    font-size: 16pt;
    font-family: sans-serif;
}
label.contactForm{
    font-size: 14pt;
    width: 400px;
    display: inline-block;
    text-align: right;
    font-family: sans-serif;
}
input.contactForm{
    width: 200px;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 30px;

}
textArea.contactForm{
    width: 200px;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 30px;
}
select.contactForm{
    width: 200px;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 30px;

}
.contactFormSm{
    width: 25px;
    display: inline-block;
    height: 20px;
}
.contactFormSr{
    font-weight: bold;
    font-size: 14pt;
    width: 150px;
    display: inline-block;
    text-align: right;
    margin-left: 280px;
    font-family: sans-serif;
}