a{
    font-family: sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: darkgoldenrod;
}
a:hover{
    text-decoration: underline;
    background-color: red;
    color: white;
}
h1{
    color: darkorange;
    font-size: 40px;
    font-style: italic;
    font-family: sans-serif;
    padding-left: 28%;

}
.albumCover{
    text-align: center;
    background-image: url("../images/seven_and_the-ragged_tiger.jpg");
    width: 300px;
    height: 300px;

}
.member{
    font-style: oblique;
    margin-left: 10%;
}
@font-face{
    font-family: 'Raleway', sans-serif;
}
.fontTitle{
    font-family: 'Raleway';
    font-size: xx-large;
    text-align: center;
    color: darkred;
    font-weight: bold:
}
.ctrTheText{
    text-align: center;
}