h1.header{
    color: blue;
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}
a.header{
    padding-right: 10px;
}
.footer{
    text-align: center;
    font-family: sans-serif;
    font-size: 8pt;
    color: black;
}