p{
    color: blueviolet;
    font-family: initial;
    font-size: 100px;
    font-style: italic
}
h1{
    color: darkorange;
    font-size: 40px;
    font-style: italic;
    font-family: sans-serif;
    
}
