
h1{
    color: darkorange;
    font-size: 40px;
    font-style: italic;
    font-family: sans-serif;
    padding-left: 28%;

}
.albumCover{
    text-align: center;
    background-image: url("../images/seven_and_the-ragged_tiger.jpg");
    width: 300px;
    height: 300px;
    padding-left: 37%;

}
.member{
    font-style: italic;
}
@font-face{
    font-family: 'Raleway', sans-serif;
}
.fontTitle{
    font-family: 'Raleway';
    font-size: xx-large;
    text-align: center;
    color: darkred;
}
